---
http_interactions:
- request:
    method: get
    uri: http://api.tumblr.com:80/v2/blog/fgiusti-test-data.tumblr.com/info?api_key=<CONSUMER-KEY>
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-tumblr-usec:
      - D=43677
      content-type:
      - application/json
    body: ! '{"meta":{"status":200,"msg":"OK"},"response":{"blog":{"title":"Cool blog.","posts":6,"name":"fgiusti-test-data","url":"http:\/\/fgiusti-test-data.tumblr.com\/","updated":1323094225,"description":"That''s
      the blog description.","ask":false,"likes":0}}}'
  recorded_at: Wed, 07 Dec 2011 23:46:48 GMT
- request:
    method: get
    uri: http://api.tumblr.com:80/v2/blog/fgiusti-test-data.tumblr.com/posts?api_key=<CONSUMER-KEY>
    body: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      x-tumblr-usec:
      - D=69486
      content-type:
      - application/json
    body: ! '{"meta":{"status":200,"msg":"OK"},"response":{"blog":{"title":"Cool blog.","posts":6,"name":"fgiusti-test-data","url":"http:\/\/fgiusti-test-data.tumblr.com\/","updated":1323094225,"description":"That''s
      the blog description.","ask":false,"likes":0},"posts":[{"blog_name":"fgiusti-test-data","id":13778790958,"post_url":"http:\/\/fgiusti-test-data.tumblr.com\/post\/13778790958\/fabiogiolito-via-mentally-moonwalk-on-we-heart","type":"photo","date":"2011-12-05
      14:10:25 GMT","timestamp":1323094225,"format":"html","reblog_key":"NLLHgG8u","tags":[],"bookmarklet":true,"note_count":1,"source_url":"http:\/\/weheartit.com\/entry\/16697103","source_title":"weheartit.com","caption":"<p><a
      class=\"tumblr_blog\" href=\"http:\/\/fabiogiolito.tumblr.com\/post\/11953490550\/via-mentally-moonwalk-on-we-heart-it-visual\">fabiogiolito<\/a>:<\/p>\n<blockquote>\n<p>(via
      <a href=\"http:\/\/weheartit.com\/entry\/16697103\">mentally moonwalk on we
      heart it \/ visual bookmark #16697103<\/a>)<\/p>\n<\/blockquote>","link_url":"http:\/\/weheartit.com\/entry\/16697103","photos":[{"caption":"","alt_sizes":[{"width":500,"height":333,"url":"http:\/\/24.media.tumblr.com\/tumblr_lton8rxDeC1qz6o2so1_500.jpg"},{"width":400,"height":266,"url":"http:\/\/24.media.tumblr.com\/tumblr_lton8rxDeC1qz6o2so1_400.jpg"},{"width":250,"height":167,"url":"http:\/\/27.media.tumblr.com\/tumblr_lton8rxDeC1qz6o2so1_250.jpg"},{"width":100,"height":67,"url":"http:\/\/29.media.tumblr.com\/tumblr_lton8rxDeC1qz6o2so1_100.jpg"},{"width":75,"height":75,"url":"http:\/\/27.media.tumblr.com\/tumblr_lton8rxDeC1qz6o2so1_75sq.jpg"}],"original_size":{"width":500,"height":333,"url":"http:\/\/24.media.tumblr.com\/tumblr_lton8rxDeC1qz6o2so1_500.jpg"}}]},{"blog_name":"fgiusti-test-data","id":13778716798,"post_url":"http:\/\/fgiusti-test-data.tumblr.com\/post\/13778716798","type":"photo","date":"2011-12-05
      14:06:00 GMT","timestamp":1323093960,"format":"html","reblog_key":"WW1t7eg6","tags":[],"bookmarklet":true,"note_count":0,"caption":"","link_url":"http:\/\/www.tumblr.com\/goodies","photos":[{"caption":"","alt_sizes":[{"width":500,"height[...]
